<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${COMPANY_NAME} Support Chat</title>

<style>
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.woot-widget-bubble {
  display: none !important;
}
</style>
</head>

<body>

<script>
// https://www.chatwoot.com/hc/user-guide/articles/1677587234-how-to-send-additional-user-information-to-chatwoot-using-sdk
window.chatwootSettings = {
  position: "right",
  showUnreadMessagesDialog: false, // Disable the unread message dialog
  enableEndConversation: false, // Let users end the conversation
  type: "standard",
  launcherTitle: ""
};

(function(d,t) {

  var g = d.createElement(t),
      s = d.getElementsByTagName(t)[0];

  g.src = "https://chatwoot.${FQDN}/packs/js/sdk.js";

  g.async = true;

  s.parentNode.insertBefore(g, s);

  g.onload = function() {

    window.chatwootSDK.run({
      websiteToken: "${WEBSITE_TOKEN}",
      baseUrl: "https://chatwoot.${FQDN}"
    });

    setTimeout(() => {
      if (window.$chatwoot) {
        window.$chatwoot.toggle("open");
      }
    }, 1000);
  };

})(document,"script");
</script>

</body>
</html>