<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${COMPANY_NAME} Support Chat</title>

<style>
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

/* Hide launcher bubble */
.woot-widget-bubble {
  display: none !important;
}

/* Hide floating launcher buttons */
.woot-widget-holder > button {
  display: none !important;
}
</style>
</head>

<body>

<script data-cfasync="false">
// https://www.chatwoot.com/hc/user-guide/articles/1677587234-how-to-send-additional-user-information-to-chatwoot-using-sdk

window.chatwootSettings = {
  position: "right",

  type: "standard",

  launcherTitle: "",

  hideMessageBubble: true,

  showUnreadMessagesDialog: false,

  enableEndConversation: false
};

(function(d, t) {

  const BASE_URL = "https://chatwoot.${FQDN}";

  const g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];

  g.src = BASE_URL + "/packs/js/sdk.js";

  g.async = true;

  s.parentNode.insertBefore(g, s);

  g.onload = function() {

    window.chatwootSDK.run({
      websiteToken: "${WEBSITE_TOKEN}",
      baseUrl: BASE_URL
    });

    window.addEventListener("chatwoot:ready", function() {

      if (window.$chatwoot) {
        window.$chatwoot.toggle("open");
      }

    });

  };

})(document, "script");

</script>

</body>
</html>