---
name: owncloud-ocis
services:
  owncloud:
    image: owncloud/ocis:latest
    container_name: owncloud
    volumes:
      - source: ${CONFIG_DIR}/owncloud/ocis.yaml
        target: /etc/ocis/ocis.yaml
        type: bind
        bind:
          create_host_path: false
      - ${VOLUME_DIR}/owncloud:/var/lib/ocis
    environment:
      #- PROXY_ENABLE_BASIC_AUTH=true # rclone
      - OCIS_INSECURE=false
      - PROXY_TLS=false
      - OCIS_URL=https://owncloud.${FQDN}
      - OCIS_LOG_LEVEL=info
    logging:
      driver: local
    networks:
      - traefik
    # ports:
    #   - 9200:9200
    restart: always
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.owncloud-rtr.entrypoints=websecure"
      - "traefik.http.routers.owncloud-rtr.rule=Host(`owncloud.$FQDN`)"
      - "traefik.http.routers.owncloud-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.owncloud-rtr.middlewares=chain-no-auth@file" # No Authentication
      # - "traefik.http.routers.owncloud-rtr.middlewares=chain-basic-auth@file" # Basic Authentication
      # - "traefik.http.routers.owncloud-rtr.middlewares=chain-oauth2-proxy@file" # OAuth 2.0
      ## HTTP Services
      - "traefik.http.routers.owncloud-rtr.service=owncloud-svc"
      - "traefik.http.services.owncloud-svc.loadbalancer.server.port=9200"

networks:
  traefik:
    name: traefik
    external: true
    #run: docker network create traefik
