---
name: owncloud-ocis
services:
  owncloud:
    image: owncloud/ocis:latest
    container_name: owncloud
    volumes:
      - source: ${CONFIG_DIR}/owncloud/ocis.yaml
        target: /etc/ocis/ocis.yaml
        type: bind
        bind:
          create_host_path: false
      - source: ${CONFIG_DIR}/owncloud/csp.yaml
        target: /etc/ocis/csp.yaml
        type: bind
        bind:
          create_host_path: false
      - ${VOLUME_DIR}/owncloud:/var/lib/ocis
    environment:
      OCIS_INSECURE: false
      PROXY_TLS: false
      OCIS_URL: https://owncloud.${FQDN}
      OCIS_LOG_LEVEL: info
      PROXY_AUTOPROVISION_ACCOUNTS: false
      PROXY_ROLE_ASSIGNMENT_DRIVER: oidc
      OCIS_OIDC_ISSUER: https://pocket-id.${FQDN}
      PROXY_OIDC_REWRITE_WELLKNOWN: true
      WEB_OIDC_CLIENT_ID: ${POCKETID_OWNCLOUD_CLIENT_ID}
      PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
      PROXY_USER_OIDC_CLAIM: preferred_username
      OCIS_EXCLUDE_RUN_SERVICES: idp
      PROXY_CSP_CONFIG_FILE_LOCATION: /etc/ocis/csp.yaml
      PROXY_ENABLE_APP_AUTH: true # Required for APP TOKENS for use with 3rd party applications like RCLONE
      OCIS_ADD_RUN_SERVICES: auth-app # Required for APP TOKENS for use with 3rd party applications like RCLONE
    logging:
      driver: local
    networks:
      - traefik
    # ports:
    #   - 9200:9200
    restart: always
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.owncloud-rtr.entrypoints=websecure"
      - "traefik.http.routers.owncloud-rtr.rule=Host(`owncloud.$FQDN`)"
      - "traefik.http.routers.owncloud-rtr.tls=true"
      ## Middlewares
      - "traefik.http.routers.owncloud-rtr.middlewares=chain-no-auth@file" # No Authentication
      # - "traefik.http.routers.owncloud-rtr.middlewares=chain-basic-auth@file" # Basic Authentication
      # - "traefik.http.routers.owncloud-rtr.middlewares=chain-oauth2-proxy@file" # OAuth 2.0
      ## HTTP Services
      - "traefik.http.routers.owncloud-rtr.service=owncloud-svc"
      - "traefik.http.services.owncloud-svc.loadbalancer.server.port=9200"

networks:
  traefik:
    name: traefik
    external: true
    #run: docker network create traefik
