---
name: invoiceninja

services:
  invoiceninja:
    image: invoiceninja/invoiceninja-debian:latest
    container_name: invoiceninja
    restart: unless-stopped
    environment: 
      # IN application vars
      APP_URL: http://in.${FQDN}
      APP_KEY: ${IN_APP_KEY}
      APP_ENV: production
      APP_DEBUG: false
      REQUIRE_HTTPS: true
      PHANTOMJS_PDF_GENERATION: false
      PDF_GENERATOR: snappdf
      TRUSTED_PROXIES: '*'

      CACHE_DRIVER: redis
      QUEUE_CONNECTION: redis
      SESSION_DRIVER: redis

      REDIS_HOST: invoiceninja-redis.traefik
      REDIS_PASSWORD: null
      REDIS_PORT: 6379

      FILESYSTEM_DISK: debian_docker

      # DB connection
      DB_HOST: invoiceninja-db.traefik
      DB_PORT: 3306
      DB_DATABASE: ninja
      DB_USERNAME: ninja
      DB_PASSWORD: ${IN_DB_PASSWORD}
      DB_ROOT_PASSWORD: ${IN_DB_ROOT_PASSWORD}
      DB_CONNECTION: mysql

      # Create initial user
      IN_USER_EMAIL: ${EMAIL}
      IN_PASSWORD: ${IN_PASSWORD}

      # Mail options
      MAIL_MAILER: log
      MAIL_HOST: ${SMTP_SERVER}
      MAIL_PORT: 587
      MAIL_USERNAME: ${EMAIL_FROM}
      MAIL_PASSWORD: ${IN_EMAIL_APP_PASSWORD}
      MAIL_ENCRYPTION: STARTTLS
      MAIL_FROM_ADDRESS: ${EMAIL_FROM}
      MAIL_FROM_NAME: ${EMAIL_FROM_NAME}

      IS_DOCKER: true
      SCOUT_DRIVER: null
      #SNAPPDF_CHROMIUM_PATH: /usr/bin/google-chrome-stable
    volumes:
      - ${VOLUME_DIR}/invoiceninja/public:/var/www/html/public
      - ${VOLUME_DIR}/invoiceninja/storage:/var/www/html/storage
    networks:
      - traefik
    depends_on:
      invoiceninja-db:
        condition: service_healthy
      invoiceninja-redis:
        condition: service_healthy

  invoiceninja-nginx:
    image: nginx:alpine
    container_name: invoiceninja-nginx
    restart: unless-stopped
    # ports:
    #   - 80:80
    volumes:
      - source: ./config/nginx/invoiceninja.conf
        target: /etc/nginx/conf.d/nginx.conf
        type: bind
        read_only: true
        bind:
          create_host_path: false
      - ${VOLUME_DIR}/invoiceninja/public:/var/www/html/public:ro
      - ${VOLUME_DIR}/invoiceninja/storage:/var/www/html/storage:ro
    networks:
      - traefik
    depends_on:
      invoiceninja:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://invoiceninja-nginx/public/images/blank.png || exit 1
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s
    labels:
      - autoheal=true
      - traefik.enable=true
      ## HTTP Routers
      - traefik.http.routers.in-rtr.entrypoints=websecure
      - traefik.http.routers.in-rtr.rule=Host(`in.$FQDN`)
      - traefik.http.routers.in-rtr.tls=true
      ## Middlewares
      - traefik.http.routers.in-rtr.middlewares=chain-no-auth@file # No Authentication
      # - traefik.http.routers.in-rtr.middlewares=chain-basic-auth@file # Basic Authentication
      # - traefik.http.routers.in-rtr.middlewares=chain-oauth2-proxy@file # OAuth 2.0
      ## HTTP Services
      - traefik.http.routers.in-rtr.service=in-svc
      - traefik.http.services.in-svc.loadbalancer.server.port=80

  invoiceninja-db:
    image: container-registry.oracle.com/mysql/community-server:8.4-aarch64
    container_name: invoiceninja-db
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${IN_DB_ROOT_PASSWORD}
      - MYSQL_USER=ninja
      - MYSQL_PASSWORD=${IN_DB_PASSWORD}
      - MYSQL_DATABASE=ninja
      - MYSQL_ROOT_HOST=invoiceninja.traefik
    volumes:
      - ${VOLUME_DIR}/invoiceninja/db:/var/lib/mysql
    networks:
      - traefik
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD

  invoiceninja-redis:
    image: redis:alpine
    container_name: invoiceninja-redis
    restart: unless-stopped
    volumes:
      - ${VOLUME_DIR}/invoiceninja/redis:/data
    networks:
      - traefik
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]

networks:
  traefik:
    name: traefik
    external: true
    #run: docker network create traefik
